/* BLOG */
.blog {
  background: #f7f7f7;
}
.blog a {
  text-decoration: none;
}

.blog .title {
  text-align: center;
}

.blog .img-fluid {
  border-radius: 6px;
}

.blog .blog__pos {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.blog .blog__pos a {
  color: #f60;
  font-size: 1rem;
  line-height: 1.2;
}
.blog .blog__pos:hover a {
  color: #5431ac;
}

.blog__bottom .item__title {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
}

.blog__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.blog__footer .blog__left {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}

.blog .blog__footer .blog__left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blog .blog__footer .blog__left .w3__layout {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  color: #232121;
}

.blog .blog__right a {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #232121;
  opacity: 0.9;
  transition: 0.3s;
}
.blog .blog__right:hover a {
  color: #f60;
}
blog .blog__right i {
  font-weight: 900;
}
