/* footer  */
.footer {
  background-color: black;
  color: #fff;
}
.footer__content {
  padding-bottom: 100px;
}
.footer a {
  text-decoration: none;
  color: #fff;
  text-decoration: none;
  list-style: none;
  transition: 0.5s;
}
.footer .logo__footer {
  font-size: 30px;
  font-weight: 600;
  padding: 0;
}
.footer h5 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
}

.footer a:hover {
  color: #f60;
}
.logo__footer {
  font-size: 1.8rem;
}
.footer p {
  color: #a5a2a1;
}
.footer__logo p {
  padding-top: 15px;
}
.footer__social span {
  width: 36px;
  height: 36px;
  line-height: 36px;
  background: #fff;
  color: #f60;
  text-align: center;
  border-radius: 5px;
  transition: all 0.3s;
}
.footer__social .twitter,
.instagram,
.likein {
  padding-left: 10px;
}
.footer__social span:hover {
  background: #f60;
  color: #fff;
}
.cat__title {
  margin-bottom: 30px;
}
.cat__item1 {
  margin-bottom: 10px;
}
.form__item {
  padding: 14px 20px;
  line-height: 28px;
  border-radius: 8px;
  border: solid 1px #fff;
}

.copyright {
  padding: 1.2em 0;
  border-top: 1px solid rgb(255 255 255 / 5%);
}
.bottom__copy a {
  color: #f60;
}
.bottom__copy a:hover {
  color: #fff;
}
/* RESPONSIVE */
@media (max-width:1200px) {
 header .container{
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
 }
}
@media (max-width:992px){
footer .footer__social{
  text-align: center;
  margin-top: 20px;
}
}
@media (min-width: 576px)
 {
 footer .col-sm-5{
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}
 }
    
@media (min-width:576px){
  footer .col-sm-7{
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
}
@media (min-width: 992px){
 footer .col-lg-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
}