/* HEADER */

header {
  z-index: 1032;
  position: absolute;
  right: 0;
  left: 0;
}
header .navbar {
  padding: 40px 0 20px;
}
header .navbar .navbar-brand {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.form-inline {
  border: 1px solid #fff;
}

.input-group-append .input-group-text i {
  cursor: pointer;
}

.btn i {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.navbar-toggler i {
  font-size: 25px;
  color: #fff;
  font-weight: 800;
}

.navbar .nav-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s;
}

.navbar-collapse .collapse {
  background-color: rgba(#232220, #232220, #232220, 0.5);
}
.collapse .nav-item:hover a {
  color: #f60;
}
.list-group .list-group-item {
  border: none;
  background: #404040c0;
  padding: 0;
}

#switchButton .btn i {
  font-size: 25px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0);
}
/* Light theme */
#dinnerBody {
  background-color: rgba(255, 255, 255, 0);
}
#switchButton {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
.input-group-append .form-control {
  border: none;
}
.input-group-text {
  border: none;
  background: #fff;
}
.card {
  border: none;
  background-color: inherit;
}
.testimonial {
  background-color: #fff;
}

/* Dark Theme*/
.dark#dinnerBody {
  background-color: #232220;
}
.dark #switchButton {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: none;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: #232220;
  color: #c2d0da;
  border: 1px solid rgba(0, 0, 0, 0);
}
.dark .card h3,
.dark .card q,
.dark .card blockquote {
  /* background-color: #232220; */
  color: #eee;
  border: 1px solid rgba(0, 0, 0, 0);
}
.dark .text {
  color: #eee;
}

.dark .card .form-control,
.dark .input-group-text {
  background-color: #232220;
}
.dark .title h3 {
  color: #eee;
}

.dark .category {
  background-color: #282828;
}
.dark .menu {
  background-color: #232220;
}
.dark .menu__text p {
  color: #c2d0da;
}
.dark .menu__text h4 {
  color: #eeee;
}
.dark .menu__content {
  background-color: #232220;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.dark .menu__content .icon__content {
  background-color: #282828;
}

.dark .number {
  background-color: #232220;
}
.dark .number .counter {
  color: #eee;
}
.dark .number p {
  color: #c2d0da;
}

.dark .blog {
  background-color: #282828;
}
.dark .blog a,
.dark .blog .blog__footer .blog__left a,
.dark .blog .blog__right a,
.dark .testimonial q,
.dark .testimonial h3 {
  color: #eee;
}

.dark .testimonial {
  background-color: #232220;
}
.dark .testimonial__text p {
  color: #c2d0da;
}

/* Responsive */
header .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
}

@media (min-width: 575px) {
  header .container-fluid {
    max-width: 540px;
    margin: 0;
  }
}
@media (min-width: 767px) {
  header .container-fluid {
    max-width: 710px;
    margin: 0;
  }
}
@media (min-width: 991px) {
  header .container-fluid {
    max-width: 890px;
    margin: 0;
  }
}
@media (min-width: 1199px) {
  header .container-fluid {
    max-width: 1024px;
    margin: 0;
  }
}
@media (min-width: 1280px) {
  header .container-fluid {
    max-width: 1140px;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .navbar .form-inline {
    display: none;
  }
}
