/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  color: #404040;
  font-size: 1rem;
  line-height: 1.5;
}

.title h6 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f60;
  display: block;
}

.title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  z-index: 1032;
}
header .navbar .navbar-brand {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.form-inline {
  border: 1px solid #fff;
}

.input-group-append .input-group-text i {
  cursor: pointer;
}

.btn i {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.navbar-toggler i {
  font-size: 25px;
  color: #fff;
  font-weight: 800;
}

.navbar .nav-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s;
}

.navbar-collapse .collapse {
  background-color: rgba(#232220, #232220, #232220, 0.5);
}
.collapse .nav-item:hover a {
  color: #f60;
  /* background-color: #232220; */
}

#switchButton .btn i {
  font-size: 25px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0);
}
/* Light theme */
#dinnerBody {
  background-color: rgba(255, 255, 255, 0);
}
#switchButton {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
.input-group-append .form-control {
  border: none;
}
.input-group-text {
  border: none;
  background: #fff;
}

/* Dark Theme*/
.dark#dinnerBody {
  background-color: #232220;
}
.dark #switchButton {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: none;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: #232220;
  color: #c2d0da;
  border: 1px solid rgba(0, 0, 0, 0);
}
.dark .card .form-control,
.dark .input-group-text {
  background-color: #232220;
}

/* BANNER */

.banner {
  display: grid;
}

.banner__container {
  z-index: 1031;
  width: 83%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.banner__content {
  z-index: 1031;
  width: 600px;
  text-align: left;
  position: absolute;
  top: 150px;
}
.banner__content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  color: #fff;
}
.banner__content p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 0;
}
.banner__content .btn {
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: 0.5s;
}
.btn-white p {
  display: inline;
}
.btn-white:hover {
  background-color: #fff;
}
.btn-white:hover p,
.btn-white:hover i {
  color: #f60;
}

.banner__content .btn-white i {
  font-size: 14px;
  font-weight: 800;
}
.banner .carousel-caption {
  bottom: 150px;

  right: 0;
}

/* aboutUs__content */
.aboutUs__text {
  font-size: 18px;
  color: gray;
}
.aboutUs__content {
  padding: 50px 50px;
}

header {
  position: absolute;
  width: 100%;
}

/* <!-- RESTAURANT --> */
.restaurants {
  background-color: #f60;
}
.img__item img {
  width: 100%;
  height: 500px;
  background-size: 100%;
  background-position: center;
  background: rgb(16 15 19 / 46%);
  object-fit: cover;
}
.restaurants__item {
  padding: 0px 60px;
}
.restaurants__text p:first-of-type {
  color: #fff;
  font-family: "Pacifico", cursive;
  padding-top: 30px;
  font-size: 20px;
}
.restaurants__text h3 {
  font-size: 2.3rem;
  font-weight: 600;
  color: black;
}
.restaurants__item p {
  color: #ffdfc9;
  font-size: 1.1rem;
}
.p__text {
  padding-bottom: 30px;
}
.col__content {
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: #fff;
  line-height: 70px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  color: #f60;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.col__item h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
  cursor: pointer;
}
.col__item i {
  transition: all 0.3s;
}
.col__item:hover i {
  color: #fcb900;
}
.col__item:hover i {
  color: #fcb900;
}

/* CATEGORY */
.category {
  background: #f7f7f7;
}
.category__header {
  text-align: center;
  padding: 60px 0 10px 0;
}
.img__item2 img {
  width: 100%;
  display: block;
  border-radius: 6px;
}
.img__item2 {
  position: relative;
  padding-bottom: 20px;
}
.category__text {
  left: auto;
  bottom: 30px;
  width: 95%;
  padding: 0 30px;
  position: absolute;

  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

.category__text p {
  color: #ffc600;
  font-weight: bold;
}
.category__text h4 {
  font-weight: 600;
  font-size: 1.3rem;
}

.img__item2:hover img {
  opacity: 0.85;
  transition: all 0.4s;
}
