/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Quicksand", sans-serif;
  color: #404040;
  font-size: 1rem;
  line-height: 1.5;
}

.title h6 {
  font-family: "Pacifico", cursive;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #f60;
  display: block;
}

.title h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */

header {
  z-index: 1032;
  position: absolute;
  top: 0;
  left: 0;
}
header .navbar {
  padding: 40px 0 20px;
}
header .navbar .navbar-brand {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
}

.form-inline {
  border: 1px solid #fff;
}

.input-group-append .input-group-text i {
  cursor: pointer;
}

.btn i {
  font-size: 25px;
  color: rgb(255, 255, 255);
}

.navbar-toggler i {
  font-size: 25px;
  color: #fff;
  font-weight: 800;
}

.navbar .nav-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.3s;
}

.navbar-collapse .collapse {
  background-color: rgba(#232220, #232220, #232220, 0.5);
}
.collapse .nav-item:hover a {
  color: #f60;
}
.list-group .list-group-item {
  border: none;
  background: #404040c0;
  padding: 0;
}

#switchButton .btn i {
  font-size: 25px;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0);
}
/* Light theme */
#dinnerBody {
  background-color: rgba(255, 255, 255, 0);
}
#switchButton {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  box-shadow: none;
}
#switchButton .fa-sun {
  display: none;
}
#switchButton .fa-moon {
  display: block;
}
.input-group-append .form-control {
  border: none;
}
.input-group-text {
  border: none;
  background: #fff;
}

/* Dark Theme*/
.dark#dinnerBody {
  background-color: #232220;
}
.dark #switchButton {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(255, 255, 255, 0);
  box-shadow: none;
}
.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}
.dark .card {
  background-color: #232220;
  color: #c2d0da;
  border: 1px solid rgba(0, 0, 0, 0);
}
.dark .card .form-control,
.dark .input-group-text {
  background-color: #232220;
}

/* BANNER */

.banner .container-fluid {
  padding: 0 0;
}
.banner__img {
  background-image: linear-gradient(to right, #f60, hsl(30deg 100% 1% / 20%)),
    url(../img/banner1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
}

.banner__content {
  z-index: 1031;
  width: 600px;
  text-align: left;
  position: absolute;
  top: 150px;
  left: 125px;
}
.banner__content h3 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 600;
  color: #fff;
}
.banner__content p {
  font-size: 16px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 0;
}
.banner__content .btn {
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  transition: 0.5s;
}
.btn-white p {
  display: inline;
}
.btn-white:hover {
  background-color: #fff;
}
.btn-white:hover p,
.btn-white:hover i {
  color: #f60;
}

.banner__content .btn-white i {
  font-size: 14px;
  font-weight: 800;
}
.banner .carousel-caption {
  bottom: 150px;

  right: 0;
}

/* aboutUs__content */
.aboutUs__text {
  font-size: 18px;
  color: gray;
}
.aboutUs__content {
  padding: 50px 50px;
}

header {
  position: absolute;
  width: 100%;
}

/* <!-- RESTAURANT --> */
.restaurants {
  background-color: #f60;
}

.restaurants .row {
  margin-right: 0;
  margin-left: 0;
}

.restaurants .col-6 {
  padding: 0;
  margin: 0;
}

.img__item img {
  width: 100%;
  min-height: 600px;
  background-size: 100%;
  background-position: center;
  object-fit: cover;
}

.img__item {
  position: relative;
}
.img__item::before {
  content: "";
  background: rgb(16 15 19 / 46%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

.restaurants__text h6 {
  color: #fff;
  font-family: "Pacifico", cursive;
  padding-top: 30px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
}
.restaurants__text h3 {
  font-size: 38px;
  line-height: 48px;
  font-weight: 600;
  color: #232121;
}
.restaurants__item a {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
  color: #232121;
  line-height: 48px;
  margin-bottom: 15px;
  text-decoration: none;
}
.restaurants__item p {
  color: #ffdfc9;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 0;
}

.restaurants .container-fluid {
  padding: 0;
  margin: 0;
}
.restaurants__item .col-xl-6 {
  padding-left: 0;
}
.col__content {
  width: 70px;
  height: 70px;
  text-align: center;
  background-color: #fff;
  line-height: 70px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  color: #f60;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.col__item h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: black;
  cursor: pointer;
}
.col__item i {
  transition: all 0.3s;
}
.col__item:hover i {
  color: #fcb900;
}
.col__item:hover i {
  color: #fcb900;
}

/* CATEGORY */
.category {
  background: #f7f7f7;
}
.category__header {
  text-align: center;
  padding: 60px 0 10px 0;
}
.img__item2 img {
  width: 100%;
  display: block;
  border-radius: 6px;
}
.img__item2 {
  position: relative;
  padding-bottom: 20px;
}
.category__text {
  left: auto;
  bottom: 30px;
  width: 95%;
  padding: 0 30px;
  position: absolute;

  color: #fff;
  transform: translate3d(0, 10%, 0);
  transition: opacity 0.3s;
}

.category__text p {
  color: #ffc600;
  font-weight: bold;
}
.category__text h4 {
  font-weight: 600;
  font-size: 1.3rem;
}

.img__item2:hover img {
  opacity: 0.85;
  transition: all 0.4s;
}

/* MENU */
.menu__icon {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.menu__content {
  background-color: #fff;

  border: 1px solid #eee;
  border-radius: 8px;
  padding: 30px 20px;
  transition: all 0.5s ease 0s;
  position: relative;
  margin-bottom: 30px;
}
.menu__content:hover {
  box-shadow: 0 25px 98px 0 rgba(0, 0, 0, 0.05);
}
.icon__content {
  width: 70px;
  height: 70px;
  text-align: center;
  background: #faf6ff;
  line-height: 73px;
  border-radius: 5px;
  transition: 0.5s;
}
.icon__content span {
  font-size: 1.5rem;
  color: #f60;
  transition: all 0.5s;
}
.menu__content:hover .icon__content {
  background-color: #f60;
}
.menu__content:hover .icon__content span {
  color: #fff;
}
.menu__text h4 {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}
.menu__text:hover h4 {
  color: #f60;
}
p {
  color: #161c2db3;
  font-size: 1.1rem;
}

/* DELICIOUS  */
/* .delicious__top{
 background-image: url(/.img/banner3.jpg);
 background-position: center;
 width: 100%;
 height: 100vh;
} */
.delicious {
  position: relative;
}
.delicious__top {
  background: url(../img/banner2.jpg);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  padding: 50px 0px 180px 0px;
}
.delicious__top:before {
  content: "";
  background: rgb(16 15 19 / 66%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
}
.delicious__title h2 {
  font-size: 2.7rem;
  font-weight: bold;
  padding-bottom: 30px;
}
.delicious__info {
  display: flex;
  justify-content: center;
}
.delicious__info a {
  text-decoration: none;
  color: #fff;
}
.delicious__left {
  margin-right: 30px;
}
.btn-style {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 8px;
  border: 2px solid #fff;
}

.btn-style:hover {
  background-color: #fff;
  color: #f60;
}
.btn-primary {
  padding: 12px 45px;
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  transition: 0.3s ease-in;
  border-radius: 8px;
  border: 2px solid #f60;
  background-color: #f60;
}
.btn-primary:hover {
  background-color: #f60;
  opacity: 0.8;
  border: 2px solid #f60;
}

.number {
  background-color: #fff;
  box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
  text-align: center;
  padding: 20px;
  width: 100%;
  border-radius: 8px;
  transform: translateY(0);
  transition: all 0.5s;
}
.number:hover {
  transform: translateY(-15px);
  box-shadow: rgba(1, 1, 1, 0.05) 2px -1px 8px 9px;
}
.number span {
  width: 70px;
  height: 70px;
  text-align: center;
  background: #f60;
  line-height: 73px;
  border-radius: 50px;
  transition: 0.5s;
  font-size: 1.5rem;
  color: white;
}
.number__item p:first-of-type {
  font-weight: bold;
  font-size: 2rem;
  color: #232121;
}
.number__item p:last-of-type {
  font-weight: bold;
}

/* number  */

.number__content {
  position: absolute;

  bottom: -130px;
  left: 0px;

  z-index: 0209;
  width: 100%;

  z-index: 0209;
  width: 100%;
}

/* BLOG */
.blog {
  background: #f7f7f7;
}
.blog a {
  text-decoration: none;
}

.blog .title {
  text-align: center;
}

.blog .img-fluid {
  border-radius: 6px;
}

.blog .blog__pos {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.blog .blog__pos a {
  color: #f60;
  font-size: 1rem;
  line-height: 1.2;
}
.blog .blog__pos:hover a {
  color: #5431ac;
}

.blog__bottom .item__title {
  display: block;
  font-size: 24px;
  line-height: 34px;
  font-weight: 600;
  color: #232121;
  margin-top: 25px;
  margin-bottom: 15px;
}

.blog__footer {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}
.blog__footer .blog__left {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
  align-items: center;
}

.blog .blog__footer .blog__left img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.blog .blog__footer .blog__left .w3__layout {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 700;
  color: #232121;
}

.blog .blog__right a {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.1em;
  color: #232121;
  opacity: 0.9;
  transition: 0.3s;
}
.blog .blog__right:hover a {
  color: #f60;
}
blog .blog__right i {
  font-weight: 900;
}
/* video  */
.item1 {
  margin-bottom: 200px;
}
.video__item {
  background: url(../img/banner3.jpg) no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  position: relative;
  z-index: 1;
  display: grid;
  align-items: center;
  min-height: 500px;
  border-radius: var(--border-radius);
}
.video__item:before {
  content: "";
  background: rgb(16 15 19 / 60%);
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  border-radius: var(--border-radius);
}
.video__item span {
  display: inline-block;
  width: 80px;
  height: 80px;
  font-size: 26px;
  padding-left: 2px;
  text-align: center;
  line-height: 76px;
  border-radius: 50%;
  transition: 0.3s ease-in-out;
  -webkit-animation: ripple 1s linear infinite;
  animation: ripple 1s linear infinite;

  border: transparent;
  background: #fff;
  color: #ff6600;
}
#small-dialog {
  max-width: 750px;
  margin: 40px auto;
  position: relative;
}
div#small-dialog iframe {
  width: 100%;
  height: 420px;
  display: block;
  border-radius: 10px;
}
.mfp-close-btn-in .mfp-close {
  color: #fff;
}
.mfp-close,
.mfp-close:active {
  top: -40px;
}

/**
   * Fade-zoom animation for first dialog
   */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.95;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/* TESTIMONIAL */
.testimonial .testimonial__title {
  text-align: center;
}
